;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8000 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn doorpe.frontend.app/init}}
   }}}
